{% extends "base.html" %}

{% block title %}About DEP - The Puso Project{% endblock %}

{% block content %}
    <div class="text-center">        
        <h1>
            Data Engineering Pilipinas
        </h1>
    </div>    
    <div class="text-center">        
        <h5 style="margin-top: 0;">Data Skills. Community Support. Endless Possibilities.</h5>
    </div>    
    <div class="text-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/jIGFrn6es0w?si=lpW-RL09Eu42Iee_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <br/>
    <div>
        Data Engineering Pilipinas is a community for data engineers, data analysts, data scientists, developers, AI / ML engineers, and users of closed and open source data tools and methods / techniques in the Philippines. Data Engineering Pilipinas is a PyData group.
    </div>
    

{% endblock %}