<footer class="bg-dark text-white text-center py-3">
    <div class="container">
        <p>&copy; 2025 The Puso Project. All rights reserved.</p>
        <p>Ang Pambansang Sandbox ng <a href="https://dataengineering.ph/" target="_blank">Data Engineering Pilipinas</a>.</p>
        <div>            
              <a href="https://facebook.com/groups/dataengineeringpilipinas/" target="_blank">
                <i class="fa-brands fa-facebook fa-2xl" aria-label="facebook"></i>
              </a>
              <a href="https://www.facebook.com/DataEngineeringPilipinas/" target="_blank">
                <i class="fa-brands fa-facebook-f fa-2xl" aria-label="facebook-f"></i>
              </a>
              <a href="https://m.me/cm/AbbnRPVsIMd34APj" target="_blank">
                <i class="fa-brands fa-facebook-messenger fa-2xl" aria-label="facebook-messenger"></i>
              </a>
              <a href="https://discord.com/invite/buDgydz7J9" target="_blank">
                <i class="fa-brands fa-discord fa-2xl" aria-label="discord"></i>
              </a>
              <a href="https://www.meetup.com/data-engineering-pilipinas/" target="_blank">
                <i class="fa-brands fa-meetup fa-2xl" aria-label="meetup"></i>
              </a>
              <a href="https://www.linkedin.com/company/97217550/" target="_blank">
                <i class="fa-brands fa-linkedin fa-2xl" aria-label="linkedin"></i>
              </a>
              <a href="https://www.reddit.com/r/DataEngineeringPH/" target="_blank">
                <i class="fa-brands fa-reddit fa-2xl" aria-label="reddit"></i>
              </a>
              <a href="https://www.youtube.com/@DataEngineeringPilipinas" target="_blank">
                <i class="fa-brands fa-youtube fa-2xl" aria-label="youtube"></i>
              </a>
              <a href="https://github.com/dataengineeringpilipinas" target="_blank">
                <i class="fa-brands fa-github fa-2xl" aria-label="github"></i>
              </a>              
        </div>
    </div>
</footer>


<!-- Font Awesome for Icons -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js"></script>
