{% extends "base.html" %}

{% block title %}Data Masters - Data Masters{% endblock %}

{% block content %}
    <div class="text-center">
        <h1>Data Masters</h1>
    </div>

    <!-- DataTable Container -->
    <div class="container mt-4">
        <table id="projectIdeasTable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Event Date</th>
                    <th>What</th>
                    <th>Organizer</th>
                    <th>Link To Event</th>
                    <th>Link To Recording</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Saturday, January 25, 2025 7:00 PM to 8:00 PM</td>
                    <td>Resume Presentation and Interview Practice Session</td>
                    <td><a href="https://www.linkedin.com/in/josh-valdeleon/?originalSubdomain=ph" target="_blank">Josh Valdeleon</a></td>
                    <td><a href="https://www.meetup.com/data-engineering-pilipinas/events/305773037/" target="_blank">Link to Meetup</a></td>
                    <td><a href="https://youtu.be/WV2w8DNXUdk" target="_blank">YouTube</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Saturday, February 1, 2025 7:00 PM to 8:00 PM</td>
                    <td>Resume Roast</td>
                    <td><a href="https://www.linkedin.com/in/ptpscl/c" target="_blank">Pat Pascual</a></td>
                    <td><a href="https://www.meetup.com/data-engineering-pilipinas/events/305897164/" target="_blank">Link to Meetup</a></td>
                    <td><a href="https://youtu.be/byrHeJIQX0I" target="_blank">YouTube</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Saturday, February 8, 2025 7:00 PM to 9:00 PM</td>
                    <td>Transformer Models and Hands-on Coding Webinar</td>
                    <td><a href="https://www.linkedin.com/in/katherinebulac" target="_blank">Katherine Bulac</a></td>
                    <td><a href="https://www.meetup.com/data-engineering-pilipinas/events/306005617/" target="_blank">Link to Meetup</a></td>
                    <td><a href="https://youtu.be/8aCVWzWBfxU" target="_blank">YouTube</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Saturday, February 15, 2025 7:00 PM to 8:00 PM</td>
                    <td>Volunteers' Evening - Kwentuhan & Future Planning</td>
                    <td><a href="https://www.linkedin.com/in/katherinebulac" target="_blank">Katherine Bulac</a></td>
                    <td><a href="https://www.meetup.com/data-engineering-pilipinas/events/306170219/" target="_blank">Link to Meetup</a></td>
                    <td><a href="https://youtu.be/" target="_blank">YouTube</a></td>
                    <td></td>
                </tr>
                
                <!-- Add more rows as needed -->
            </tbody>
        </table>
    </div>

    <!-- Include DataTables CSS and JS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

    <!-- Initialize DataTable -->
    <script>
        $(document).ready(function() {
            $('#projectIdeasTable').DataTable({
                "paging": true, // Enable pagination
                "searching": true, // Enable search bar
                "ordering": true, // Enable column sorting
                "info": true, // Show table information
                "responsive": true // Make the table responsive
            });
        });
    </script>
{% endblock %}
