{% extends "base.html" %}

{% block title %}The Puso Project{% endblock %}

{% block content %}
    <div class="text-center">
        <img src="/static/The_Puso_Project_Logo.png" alt="The Puso Project Logo" class="mb-4" width="250" style="margin-top: 20px;"> 
    </div>

    <div class="text-center">        
        <h4>
            <img src="/static/deplogo.png" alt="DEP Logo" class="mb-4" width="100">
            Data Engineering Pilipinas
        </h4>
        <h5>A community-driven data journey: from learning to job search.</h5>
    </div>
{% endblock %}