{% extends "base.html" %}

{% block title %}DEP Talents - The Puso Project{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">DEP Certified</h1>
    <div class="row justify-content-center">

        <!-- Jun Miano -->
        <div class="col-md-5 mb-4">
            <div class="card shadow">
                <img src="{{ url_for('static', filename='certificates/jun_miano_cert.png') }}" class="card-img-top" alt="Jun Miano Certificate">
                <div class="card-body text-center">
                    <a href="https://au.badgr.com/issuers/5f1d27525293a275faa3d7a4/badges/651d20a6f87d12504fa4b925/assertions/67842f934d86fa7e1ae3de3b"
                       class="btn btn-primary" target="_blank">View Badge</a>
                </div>
            </div>
        </div>

        <!-- Noel Adante -->
        <div class="col-md-5 mb-4">
            <div class="card shadow">
                <img src="{{ url_for('static', filename='certificates/noel_adante_cert.png') }}" class="card-img-top" alt="Jun Miano Certificate">
                <div class="card-body text-center">
                    <a href="https://au.badgr.com/issuers/5f1d27525293a275faa3d7a4/badges/651d20a6f87d12504fa4b925/assertions/678431a74d86fa7e1ae3de46"
                       class="btn btn-primary" target="_blank">View Badge</a>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}